[run]
omit =
    # Omit Antlr-generated parser templates
    */systemrdl/parser/SystemRDL*

[paths]
source =
    systemrdl/
    *.egg/systemrdl

[report]
exclude_lines =
    pragma: no cover
    raise RuntimeError
    raise NotImplementedError
    msg.fatal
    msg.error
    if TYPE_CHECKING:
