pytest
pytest-cov
parameterized
pylint
types-Markdown

# Avoiding newer mypy for now because I didn't know how to do type hints
# 5 years ago...
#   https://github.com/python/mypy/issues/16770
mypy < 1.8.0
