[run]
omit =
    # omit Python packages
    */.local/*
    /usr/*
    */setup.py
    
    # Omit non-module scripts
    ./test/*
    ./examples/*
    
    # Omit Antlr-generated parser templates
    ./systemrdl/parser/*