[run]
omit =
    # omit Python packages
    */.local/*
    /usr/*
    */setup.py
    *.egg/*
    */site-packages/*
    */distutils/*
    
    # Omit non-module scripts
    ./test/*
    ./examples/*
    
    # Omit Antlr-generated parser templates
    ./systemrdl/parser/*

[report]
exclude_lines =
    raise RuntimeError
    raise NotImplementedError
    msg.fatal
    msg.error
